body {
	font-family: 'Roboto', sans-serif;
	font-size:1em;
	margin:0;
	padding:0;
	color:#293030;
}


a, #nav a{
	color:#497674;
	text-decoration: none;
}

a:hover, #nav a:hover{
	color:#5c5d5d;
}


input, textarea, .box {
	border:0.1em solid #C7D7D6;
	border-radius: 0.1em;
	padding:0.5em;
	margin:0.5em;
}

button, .edit_buttons {
	background-color:#497674;
	color:#fff;
	border-radius: 0.2em;
	border: 0.1em solid #497674;
	padding:0.5em;
	margin:0.5em;
	min-width: 8em;
	font-size:1em;
}

button:hover{
	cursor: pointer;
}

input{
	min-width:15em;
}

input[type="checkbox"]{
	min-width:initial;
}


.flex_box_layout{
	display: flex;
}

.box{
	display: inline-block;
	border:0.05em solid #C7D7D6;
	max-width:12em;
	min-width:12em;
	max-height: 12em;
	min-height: 12em;
	vertical-align: middle;
	position:relative;
}


.font_box div{
	padding:1em;
}

.box .favorite{
	position:absolute;
	bottom:0;
	right:0;
	display:block;
	padding:0.2em;
	color:#75bdb9;
	font-size:1.2em;
}

.box .favorite:hover{
	cursor: pointer;
}


/** ------------------------ FONT SPECIFIC -------------------- **/

.larger_font{
	font-size:1.3em;
}

.max_width{
	width:100% !important;
	min-width:100% !important;
}

.max_input{
	width: calc(100% - 2em);
}

.script_font{
	font-family: 'Marck Script', cursive;
}
.serif_font {
	font-family: 'EB Garamond', serif;
}

.right {
	text-align: right;
}

.center{
	text-align: center;
}

.left {
	text-align: left;
}

.no_list{
	list-style: none;
	padding: 0;
}



/** ----------------------- NAV CSS ---------------------- **/

#nav{
	position:relative;
	display:block;
	background-color:#fff;
	height:2em;
}

#nav a{
	font-weight: bold;
}

#nav{
	color: #497674;
	height:4em;
}

#links {
	display:inline-block;
	position:relative;
	
}

.middle_cell{
	display: inline-block;
	vertical-align: middle;
}

#account_controls{
	position:relative;
	right:0;
	display:inline-block;
	float:right;

}
#logged_out, #signup{
	margin-top:0.8em;
}

#links{
	margin-top:1.2em;
	margin-left:1em;
}

#avatar{
	vertical-align: top;
	margin:auto;
	text-align: center;
}

#avatar img, .user_avatar img, #search_container img.user_avatar, #user_details_container img.user_avatar{
	border-radius: 50%;
	text-align: center;
	border:0.2em solid #497674;
}
#avatar:hover {
	cursor: pointer;
	color:#5c5d5d;
}

#avatar:hover img{
	border-color:#5c5d5d;
}

#avatar_wrapper{
	display:inline-block;
	margin:auto;
}

#account_controls ul{
	list-style: none;
	margin:0;
	padding:0;
}

#account_controls > ul > li{
	display:inline-block;
	vertical-align: top;
	padding:0.5em;
	position: relative;
}


#account_links{
	position: absolute;
	right: 0;
	display: none;
	z-index: 5;
	width:12em;
}

#account_controls > ul > li:hover ul{
	display:block;
	background-color:#EEF7F6;
}

#account_controls > ul > li ul li{
	padding:1em 2em;
}

#account_links:first-child{
	padding: 0 2em 1em 2em;
}



/** ----------------- HEADER CSS ----------------------- **/
#header {
	background-color:#fff;
	color:#75bdb9;
	z-index:2;
	text-align: center;
	overflow: auto;
	margin:0px;
	display: block;
	font-size: 3em;
	margin-bottom: 1em;
}



/** ----------------- CONTENT CSS ----------------------- **/
.content {
	width:60%;
	max-width:60%;
	margin:auto;
	position:relative;
}


/** ----------------- FOOTER CSS ----------------------- **/

footer {
	padding:1em 0;
	background-color: #7A9E9C;
	color:#fff;
	text-align: center;
	left: 0px;
	bottom:0px;
	width: 100%;
}



/** ----------------------- SIGN IN & SIGN UP FORMS CSS ---------------------- **/



/** ----------------------- SIGN IN CSS ---------------------- **/


 .signInButton {
     		background-color: #75bdb9;
     		border: none;
     		color: white;
     		padding: 15px 32px;
     		text-align: center;
     		text-decoration: none;
     		font-size: 16px;
     		margin: 4px 2px;
     		cursor: pointer;
     		width: 335px;
     		height: 50px;
     		opacity: 0.5;
     		
}

 .account{
 			position: relative;
     		margin-right: 150px;
     		width: auto;
     		color: #B0B0B0;
     		text-align: center;
}


 .signUpButton {
     background-color: white;
     color: #7A9E9C;
     border: 2px solid #7A9E9C;
     
     text-align: center;
     cursor: pointer;
}

 .heading_font {
     	font-family:'Marck Script', cursive;
     	color:#75bdb9;
     	opacity: 0.5;
}




/** ----------------------- SIGN UP CSS ---------------------- **/


 .haveAccount{
     		position: relative;
     		margin-right: 120px;
     		padding-top: 20px;
     		width: auto;
     		color: #B0B0B0;
     		text-align: center;
}


 .signUpButton_signUp {
     		background-color: white;
     		color: #75bdb9;
     		border: 2px solid #75bdb9;
     		opacity: 0.5;
     		width: 130px;
     		height: 40px;
     		padding-top:10px;
     		font-size: 16px;
     		padding: 10px;
     		position: relative;
     		top: 15px;
     		text-align: center;
     		cursor: pointer;
}



#formCenter {
 		margin:0 auto;
 		padding:0px;
 		text-align:center;
  		width:45%;
}

/** ------------------------------ FONT PAGE ---------------------**/

.font_name{
	display: block;
	margin-bottom:1em;
	font-size:1.2em;
}

#font_details div{
	display:table;
	margin:0 auto;
	position:relative;
}

/** ---------------------------- CHART ------------------------------- **/

.chart-container {
	position: relative;
	height:100%;
	max-height:100%;
	width:100%;
	overflow:auto;
	text-align:center;
}
.chart-container canvas {
	margin:auto;
}

/** ---------------------------- COMMENTS ---------------------------- **/

.user_comment .comment {
	border:0.1em solid #D6D6D6;
	padding:0.5em;
	border-radius:0.5em;
}

.user_comment .user_avatar img, #search_container img.user_avatar{
	border-color:#5c5d5d;
}

.user_comment > div.user_avatar, .user_comment > div.comment{
	vertical-align: middle;
	position: relative;
	display:inline-block;
	margin:0.5em;
}

.user_comment > div.comment {
	width:calc(100% - 80px - 3em);
	text-align: left;
}

.user_comment .username {
	margin:0;
}
.comment_votes .far, .comment_votes .fas {
	padding:0.2em;
}
.comment_votes .far:hover, .comment_votes .fas:hover{
	cursor: pointer;
}
.comment_votes{
	font-size:1.2em;
	vertical-align: middle;
	text-align: right;
	-webkit-user-select: none; /* Chrome all / Safari all */
  	-moz-user-select: none;   /* Firefox all */
  	-ms-user-select: none;  /* IE 10+ */
	user-select: none;  /* Likely future */ 
}

.up_vote, .down_vote{
	font-size:1em;
}

.fa-thumbs-up, .up_vote{
	color:#497674;
}

.fa-thumbs-down, .down_vote{
	color:#BD7579;
}
.comment_controls{
	overflow: auto;
}

.comment_controls textarea{
	display:block;
	width: calc(100% - 2.2em);
	border-color:#D6D6D6;
	height:5em;
}

.comment_controls button{
	float:right;
}


/** ----------------------- MEDIA QUEREIS CSS ---------------------- **/

@media screen and (max-width: 900px) {
   #formCenter {
        width: auto;
        margin-top: 0;
        width: 100%;
    }
  
}

/* made the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75 {
        width: 100%;
        margin-top: 0;
        
    }
   
}
	


/** ------------------------------ ERROR STYLING --------------------------- **/

.error {
	color:#BD7579;
}

input.error, textarea.error{
	border-color:#BD7579;
}



/** -----------------------PREFERENCES PAGE CSS------------------------------- **/

label {
	min-width: 11em;
	display:inline-block;
	text-align: left;
}
	
#user_prefs input[type="password"],
#user_prefs input[type="text"]{
	min-width: calc(100% - 16em);
}

#uname {
	cursor: not-allowed;
}
	 
hr {
	border:0.2em solid #C7D7D6;
	margin-top:1em;
	margin-bottom:1em;
}

.info{
	font-size:0.8em;
}



