body {
	font-family: 'Roboto', sans-serif;
	font-size:1em;
	margin:0;
	padding:0;
	color:#293030;
}


a, #nav a{
	color:#497674;
	text-decoration: none;
}

a:hover{
	color:#5c5d5d;
}


input, .box {
	border:0.1em solid #C7D7D6;
	border-radius: 0.1em;
	padding:0.5em;
	margin:0.5em;
}
input{
	min-width:15em;
}

.flex_box_layout{
	display: flex;
}

.box{
	display: inline-block;
	border:0.05em solid #C7D7D6;
	max-width:12em;
	min-width:12em;
	max-height: 12em;
	min-height: 12em;
	vertical-align: middle;
	position:relative;
}

.box .favorite{
	position:absolute;
	bottom:0;
	right:0;
	display:block;
	padding:0.2em;
	color:#75bdb9;
	font-size:1.2em;
}

.box .favorite:hover{
	cursor: pointer;
}


/** ------------------------ FONT SPECIFIC -------------------- **/

.larger_font{
	font-size:1.3em;
}

.max_width{
	width:100%;
}

.max_input{
	width: calc(100% - 2em);
}

.script_font{
	font-family: 'Marck Script', cursive;
}
.serif_font {
	font-family: 'EB Garamond', serif;
}

.right {
	text-align: right;
}

.center{
	text-align: center;
}

.no_list{
	list-style: none;
	padding: 0;
}



/** ----------------------- NAV CSS ---------------------- **/

#nav{
	position:relative;
	display:block;
	background-color:#fff;
	height:2em;
}

#nav a{
	font-weight: bold;
}

#nav{
	color: #497674;
	height:4em;
}

#links {
	display:inline-block;
	position:relative;
	
}

.middle_cell{
	display: inline-block;
	vertical-align: middle;
}

#account_controls{
	position:relative;
	right:0;
	display:inline-block;
	float:right;

}
#logged_out{
	margin-top:0.8em;
}

#links{
	margin-top:1.2em;
	margin-left:1em;
}

#avatar{
	vertical-align: top;
	margin:auto;
	text-align: center;
}

#avatar img, .user_avatar img{
	border-radius: 50%;
	text-align: center;
	border:0.2em solid #497674;
}
#avatar:hover {
	cursor: pointer;
	color:#5c5d5d;
}

#avatar:hover img{
	border-color:#5c5d5d;
}

#avatar_wrapper{
	display:inline-block;
	margin:auto;
}

#account_controls ul{
	list-style: none;
	margin:0;
	padding:0;
}

#account_controls > ul > li{
	display:inline-block;
	vertical-align: top;
	padding:0.5em;
	position: relative;
}


#account_links{
	position: absolute;
	right: 0;
	display: none;
	z-index: 5;
	width:12em;
}

#account_controls > ul > li:hover ul{
	display:block;
	background-color:#EEF7F6;
}

#account_controls > ul > li ul li{
	padding:1em 2em;
}

#account_links:first-child{
	padding: 0 2em 1em 2em;
}



/** ----------------- HEADER CSS ----------------------- **/
#header {
	background-color:#fff;
	color:#75bdb9;
	z-index:2;
	text-align: center;
	overflow: auto;
	margin:0px;
	display: block;
	font-size: 3em;
	margin-bottom: 1em;
}



/** ----------------- CONTENT CSS ----------------------- **/
.content {
	width:60%;
	max-width:60%;
	margin:auto;
	position:relative;
}


/** ----------------- FOOTER CSS ----------------------- **/

footer {
	padding:1em 0;
	background-color: #7A9E9C;
	color:#fff;
	text-align: center;
	left: 0px;
	bottom:0px;
	width: 100%;
}



/** ----------------------- SIGN IN & SIGN UP FORMS CSS ---------------------- **/



/** ----------------------- SIGN IN CSS ---------------------- **/


 .signInButton {
     		background-color: #75bdb9;
     		border: none;
     		color: white;
     		padding: 15px 32px;
     		text-align: center;
     		text-decoration: none;
     		font-size: 16px;
     		margin: 4px 2px;
     		cursor: pointer;
     		width: 335px;
     		height: 50px;
     		opacity: 0.5;
     		
}

 .account{
 			position: relative;
     		margin-right: 150px;
     		width: auto;
     		color: #B0B0B0;
     		text-align: center;
}


 .signUpButton {
     background-color: white;
     color: #75bdb9;
     border: 2px solid #75bdb9;
     opacity: 0.5;
     width: 130px;
     height: 40px;
     padding-top:10px;
     font-size: 16px;
     padding: 10px;
     position: relative;
     top: -40px;
	 margin-left: 150px;
     text-align: center;
     cursor: pointer;
}

 .heading_font {
     	font-family:'Marck Script', cursive;
     	color:#75bdb9;
     	opacity: 0.5;
}




/** ----------------------- SIGN UP CSS ---------------------- **/


 .haveAccount{
     		position: relative;
     		margin-right: 120px;
     		padding-top: 20px;
     		width: auto;
     		color: #B0B0B0;
     		text-align: center;
}


 .signUpButton_signUp {
     		background-color: white;
     		color: #75bdb9;
     		border: 2px solid #75bdb9;
     		opacity: 0.5;
     		width: 130px;
     		height: 40px;
     		padding-top:10px;
     		font-size: 16px;
     		padding: 10px;
     		position: relative;
     		top: 15px;
     		text-align: center;
     		cursor: pointer;
}


 .signInLink{
     		position: relative;
     		left: 45px;
     		bottom: 37px;
     		width: auto;
}
 .signInLink a{
     		text-decoration: none;
     		color: #75bdb9;
     		opacity: 0.5;
     		font-family: 'Barlow', sans-serif;
}

#formCenter {
 		margin:0 auto;
 		padding:0px;
 		text-align:center;
  		width:995px;
}



/** ---------------------------- COMMENTS ---------------------------- **/

.user_comment .comment {
	border:0.1em solid #D6D6D6;
	padding:0.5em;
	border-radius:0.5em;
}

.user_comment .user_avatar img{
	border-color:#5c5d5d;
}

.user_comment > div.user_avatar, .user_comment > div.comment{
	vertical-align: middle;
	position: relative;
	display:inline-block;
	margin:0.5em;
}

.user_comment > div.comment {
	width:calc(100% - 80px - 3em);
	text-align: left;
}

.user_comment .username {
	margin:0;
}
.comment_votes .far, .comment_votes .fas {
	padding:0.2em;
}
.comment_votes{
	font-size:1.2em;
	vertical-align: middle;
	text-align: right;
}

.up_vote, .down_vote{
	font-size:1em;
}

.fa-thumbs-up, .up_vote{
	color:#497674;
}

.fa-thumbs-down, .down_vote{
	color:#BD7579;
}

/** ----------------------- MEDIA QUEREIS CSS ---------------------- **/

@media screen and (max-width: 900px) {
   #formCenter {
        width: auto;
        margin-top: 0;
        width: 100%;
    }
    
     
	
}


