<li id="logged_in"> 
		<div id="avatar">
			<div id="avatar_wrapper">
				<div class="middle_cell">
					<img src= "<%icon%>" alt=''>
				</div>
				<div class="middle_cell">
					<i class="fas fa-chevron-circle-down"></i>
				</div>
			</div>

		</div>
		<ul id="account_links">
			<li><a href="/collection/"><i class="fas fa-heart"></i> my collection</a></li>
			<li><a href="/prefs/"><i class="fas fa-cog"></i> my account</a></li>
			<li><a href="/logout/"><i class="fas fa-sign-out-alt"></i> logout</a></li>
		</ul>
	</li>
</ul>