

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>HellaWickedFonts - <%title%></title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css?family=EB+Garamond|Marck+Script|Roboto" rel="stylesheet">
		<link href="/css/main.css" rel="stylesheet">
		<link href="/css/fontawesome-all.min.css" rel="stylesheet">
		<script>
			var LOGGED_IN = <%isLoggedIn%>;
		</script>
	</head>

	<body>
		
		<div id="nav">
			<div id="links">
				<a href="/"><i class="fas fa-home"></i> home</a>
				<a href="/search"><i class="fas fa-search"></i> search</a>
			</div>
			
			<div id="account_controls">
				<ul>
					<%nav%>
				</ul>
			</div>
		</div>
		
		
		
		<br>
		
		<!-- header image -->
		<div id="header">
				<span class="serif_font">Hella<span  class="script_font">Wicked</span>Fonts</span>
		</div>
		
		
		<!-- the content of the app -->
		<div id="app_content">
		
		